#emailId {
    text-transform: lowercase;
}

input::placeholder {
    text-transform: capitalize;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.jobsearch {
    display: flex;
    list-style: none;
    margin-top: 5px;
    float: right;
}

.mngClient {
    color: #ff7000;
    cursor: pointer;
}

.mngClient:hover {
    color: #276EB5;
}


/* .jobsearch li {
    padding-right: 10px;
} */