.nav-tabs .nav-link {
    border-color: white !important;
    border: none !important;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link.active {
    color: #276EB5 !important;
    border: none !important;
}
