<div class="card-header">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox-head">
                <div class="ibox-title">
                    <h4>Manage Refeerals
                        <span> <i class="fas fa-plus-circle addIcon" title="Employee Creation" (click)="clearValidations()" data-toggle="modal"
                              title="Incentive creation" data-target="#inviteEmp"></i>
                      </span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-lg-6 text-right">
            <div class="ibox-head">
                <div class="ibox-title">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input"  id="customFile" name="filename"  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" (change)="uploadData($event)">
                        <label class="custom-file-label" for="customFile" id="customFile" style="top: 3px;">Upload Employee Sheet</label>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <button class="btn btn-primary btn-block" >
                     <a href="{{downloadSheetData}}" style="color: white !important;">Download Employee Sheet</a>
                      </button>
                  </div>
                </div>

                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="ibox">
            <div style="padding: 15px;">
              <div class="container-fluid" *ngIf="employeeCards">
                <div class="row">
                    <div class="col-md">
                        <div class="padding">
                            <div class="m-b-2" style=" text-align: center;color: #535353">
                              <svg version="1.1" id="Layer_1" width="30" height="30"
                              xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                             <style type="text/css">
                               .st0{fill:#5791CD;}
                               .st1{fill:#E47C6E;}
                               .st2{fill:#4673B2;}
                               .st3{fill:#EEBE9A;}
                               .st4{fill:#010101;}
                               .st5{fill:#C76C61;}
                               .st6{fill:#DC9C7D;}
                               .st7{fill:#976A48;}
                               .st8{fill:#C08E5A;}
                             </style>
                             <title>Refferal</title>
                             <circle class="st0" cx="30.1" cy="29.6" r="10.4"/>
                             <circle class="st0" cx="30.1" cy="29.6" r="10.4"/>
                             <g>
                               <circle class="st1" cx="13.6" cy="46.1" r="9.5"/>
                               <circle class="st1" cx="46.6" cy="46.1" r="9.5"/>
                               <circle class="st1" cx="13.6" cy="13.1" r="9.5"/>
                               <circle class="st1" cx="46.6" cy="13.1" r="9.5"/>
                             </g>
                             <path class="st2" d="M19.7,52.2H7.5v-1.7c0-1.9,1.6-3.5,3.5-3.5h5.2c1.9,0,3.5,1.6,3.5,3.5V52.2z"/>
                             <path class="st2" d="M52.7,52.2H40.5v-1.7c0-1.9,1.6-3.5,3.5-3.5h5.2c1.9,0,3.5,1.6,3.5,3.5V52.2z"/>
                             <path class="st2" d="M19.7,19.2H7.5v-1.7c0-1.9,1.6-3.5,3.5-3.5h5.2c1.9,0,3.5,1.6,3.5,3.5V19.2z"/>
                             <path class="st2" d="M52.7,19.2H40.5v-1.7c0-1.9,1.6-3.5,3.5-3.5h5.2c1.9,0,3.5,1.6,3.5,3.5V19.2z"/>
                             <path class="st3" d="M13.6,46.9c-1.4,0-2.6-1.2-2.6-2.6v-1.7c0-1.4,1.2-2.6,2.6-2.6s2.6,1.2,2.6,2.6v1.7
                               C16.2,45.8,15,46.9,13.6,46.9z"/>
                             <path class="st3" d="M46.6,46.9c-1.4,0-2.6-1.2-2.6-2.6v-1.7c0-1.4,1.2-2.6,2.6-2.6s2.6,1.2,2.6,2.6v1.7
                               C49.2,45.8,48,46.9,46.6,46.9z"/>
                             <path class="st3" d="M13.6,14c-1.4,0-2.6-1.2-2.6-2.6V9.6C11,8.2,12.2,7,13.6,7s2.6,1.2,2.6,2.6v1.7C16.2,12.8,15,14,13.6,14z"/>
                             <path class="st3" d="M46.6,14c-1.4,0-2.6-1.2-2.6-2.6V9.6C44,8.2,45.1,7,46.6,7s2.6,1.2,2.6,2.6v1.7C49.2,12.8,48,14,46.6,14z"/>
                             <path class="st4" d="M13.6,47.8c-1.9,0-3.5-1.6-3.5-3.5v-1.7c0-1.9,1.6-3.5,3.5-3.5s3.5,1.6,3.5,3.5v1.7
                               C17.1,46.3,15.5,47.8,13.6,47.8z M13.6,40.9c-1,0-1.7,0.8-1.7,1.7v1.7c0,1,0.8,1.7,1.7,1.7s1.7-0.8,1.7-1.7v-1.7
                               C15.3,41.6,14.6,40.9,13.6,40.9z"/>
                             <path class="st4" d="M19.7,53H7.5c-0.5,0-0.9-0.4-0.9-0.9v-1.7c0-2.4,1.9-4.3,4.3-4.3h5.2c2.4,0,4.3,1.9,4.3,4.3v1.7
                               C20.6,52.6,20.2,53,19.7,53z M8.4,51.3h10.4v-0.9c0-1.4-1.2-2.6-2.6-2.6H11c-1.4,0-2.6,1.2-2.6,2.6V51.3z"/>
                             <path class="st4" d="M13.6,56.5c-5.7,0-10.4-4.7-10.4-10.4s4.7-10.4,10.4-10.4S24,40.3,24,46.1S19.3,56.5,13.6,56.5z M13.6,37.4
                               c-4.8,0-8.7,3.9-8.7,8.7s3.9,8.7,8.7,8.7s8.7-3.9,8.7-8.7S18.4,37.4,13.6,37.4z"/>
                             <path class="st4" d="M46.6,47.8c-1.9,0-3.5-1.6-3.5-3.5v-1.7c0-1.9,1.6-3.5,3.5-3.5s3.5,1.6,3.5,3.5v1.7
                               C50.1,46.3,48.5,47.8,46.6,47.8z M46.6,40.9c-1,0-1.7,0.8-1.7,1.7v1.7c0,1,0.8,1.7,1.7,1.7s1.7-0.8,1.7-1.7v-1.7
                               C48.3,41.6,47.5,40.9,46.6,40.9z"/>
                             <path class="st4" d="M52.7,53H40.5c-0.5,0-0.9-0.4-0.9-0.9v-1.7c0-2.4,1.9-4.3,4.3-4.3h5.2c2.4,0,4.3,1.9,4.3,4.3v1.7
                               C53.5,52.6,53.1,53,52.7,53z M41.4,51.3h10.4v-0.9c0-1.4-1.2-2.6-2.6-2.6H44c-1.4,0-2.6,1.2-2.6,2.6V51.3z"/>
                             <path class="st4" d="M46.6,56.5c-5.7,0-10.4-4.7-10.4-10.4s4.7-10.4,10.4-10.4S57,40.3,57,46.1S52.3,56.5,46.6,56.5z M46.6,37.4
                               c-4.8,0-8.7,3.9-8.7,8.7s3.9,8.7,8.7,8.7s8.7-3.9,8.7-8.7S51.4,37.4,46.6,37.4z"/>
                             <path class="st4" d="M13.6,14.8c-1.9,0-3.5-1.6-3.5-3.5V9.6c0-1.9,1.6-3.5,3.5-3.5s3.5,1.6,3.5,3.5v1.7
                               C17.1,13.3,15.5,14.8,13.6,14.8z M13.6,7.9c-1,0-1.7,0.8-1.7,1.7v1.7c0,1,0.8,1.7,1.7,1.7s1.7-0.8,1.7-1.7V9.6
                               C15.3,8.7,14.6,7.9,13.6,7.9z"/>
                             <path class="st4" d="M19.7,20H7.5c-0.5,0-0.9-0.4-0.9-0.9v-1.7c0-2.4,1.9-4.3,4.3-4.3h5.2c2.4,0,4.3,1.9,4.3,4.3v1.7
                               C20.6,19.7,20.2,20,19.7,20z M8.4,18.3h10.4v-0.9c0-1.4-1.2-2.6-2.6-2.6H11c-1.4,0-2.6,1.2-2.6,2.6V18.3z"/>
                             <path class="st4" d="M13.6,23.5c-5.7,0-10.4-4.7-10.4-10.4S7.9,2.7,13.6,2.7S24,7.4,24,13.1S19.3,23.5,13.6,23.5z M13.6,4.4
                               c-4.8,0-8.7,3.9-8.7,8.7s3.9,8.7,8.7,8.7s8.7-3.9,8.7-8.7S18.4,4.4,13.6,4.4z"/>
                             <path class="st4" d="M46.6,14.8c-1.9,0-3.5-1.6-3.5-3.5V9.6c0-1.9,1.6-3.5,3.5-3.5s3.5,1.6,3.5,3.5v1.7
                               C50.1,13.3,48.5,14.8,46.6,14.8z M46.6,7.9c-1,0-1.7,0.8-1.7,1.7v1.7c0,1,0.8,1.7,1.7,1.7s1.7-0.8,1.7-1.7V9.6
                               C48.3,8.7,47.5,7.9,46.6,7.9z"/>
                             <path class="st4" d="M52.7,20H40.5c-0.5,0-0.9-0.4-0.9-0.9v-1.7c0-2.4,1.9-4.3,4.3-4.3h5.2c2.4,0,4.3,1.9,4.3,4.3v1.7
                               C53.5,19.7,53.1,20,52.7,20z M41.4,18.3h10.4v-0.9c0-1.4-1.2-2.6-2.6-2.6H44c-1.4,0-2.6,1.2-2.6,2.6V18.3z"/>
                             <path class="st4" d="M46.6,23.5c-5.7,0-10.4-4.7-10.4-10.4S40.8,2.7,46.6,2.7S57,7.4,57,13.1S52.3,23.5,46.6,23.5z M46.6,4.4
                               c-4.8,0-8.7,3.9-8.7,8.7s3.9,8.7,8.7,8.7s8.7-3.9,8.7-8.7S51.4,4.4,46.6,4.4z"/>
                             <path class="st4" d="M30.1,40.9c-6.2,0-11.3-5.1-11.3-11.3s5.1-11.3,11.3-11.3s11.3,5.1,11.3,11.3S36.3,40.9,30.1,40.9z M30.1,20
                               c-5.3,0-9.5,4.3-9.5,9.5s4.3,9.5,9.5,9.5s9.5-4.3,9.5-9.5S35.4,20,30.1,20z"/>
                             <path class="st4" d="M30.1,40.9c-6.2,0-11.3-5.1-11.3-11.3s5.1-11.3,11.3-11.3s11.3,5.1,11.3,11.3S36.3,40.9,30.1,40.9z M30.1,20
                               c-5.3,0-9.5,4.3-9.5,9.5s4.3,9.5,9.5,9.5s9.5-4.3,9.5-9.5S35.4,20,30.1,20z"/>
                             <path class="st4" d="M19.9,38.5l2.2-2.2l1.2,1.2l-2.2,2.2L19.9,38.5z"/>
                             <path class="st4" d="M36.4,37.1l1.2-1.2l2.6,2.6L39,39.7L36.4,37.1z"/>
                             <path class="st4" d="M36.4,22l2.6-2.6l1.2,1.2l-2.6,2.6L36.4,22z"/>
                             <path class="st4" d="M19.9,20.7l1.2-1.2l2.6,2.6l-1.2,1.2L19.9,20.7z"/>
                             <path class="st5" d="M34.6,35.3v-1.2c0-1.7-1.4-3-3-3h-3c-1.7,0-3,1.4-3,3v1.2"/>
                             <path class="st1" d="M27.3,34.7c2.6,0,4.8-1.4,5.5-3.4c-0.4-0.2-0.8-0.3-1.2-0.3h-3c-1.7,0-3,1.4-3,3v0.4
                               C26.1,34.6,26.7,34.7,27.3,34.7z"/>
                             <path class="st5" d="M31.6,34.1l0.6-3c-0.2,0-0.4-0.1-0.6-0.1h-0.3L30,32.6L31.6,34.1z"/>
                             <path class="st5" d="M28.5,34.1l1.5-1.5l-1.2-1.5h-0.3c-0.2,0-0.4,0-0.6,0.1L28.5,34.1z"/>
                             <path class="st6" d="M28.8,31.1l1.2,1.5l1.2-1.5"/>
                             <path class="st6" d="M27.9,29.2h-0.6c-0.5,0-0.9-0.4-0.9-0.9s0.4-0.9,0.9-0.9h0.6"/>
                             <path class="st3" d="M32.2,27.4h0.6c0.5,0,0.9,0.4,0.9,0.9s-0.4,0.9-0.9,0.9h-0.6"/>
                             <path class="st6" d="M32.5,25.9v2.7c0,1.3-1.1,2.4-2.4,2.4s-2.4-1.1-2.4-2.4v-2.7"/>
                             <path class="st3" d="M29.6,31c1.1-0.2,2-1.2,2-2.4v-3h-3.9v3C27.6,29.8,28.5,30.8,29.6,31z"/>
                             <path class="st7" d="M30.6,25.3v0.3c0,1-0.8,1.8-1.8,1.8H27v-1.5c0-1.2,1-2.1,2.1-2.1H31c1.2,0,2.1,1,2.1,2.1v1.5h-1.5
                               c-0.5,0-0.9-0.4-0.9-0.9V25.3z"/>
                             <path class="st8" d="M32.1,24.1c-0.3-0.2-0.8-0.4-1.2-0.4h-1.8c-1.2,0-2.1,1-2.1,2.1v1.5h1.8c1,0,1.8-0.8,1.8-1.8v0.9
                               c0,0.3,0.2,0.6,0.4,0.8c0.7-0.7,1.1-1.7,1.1-2.7C32.2,24.4,32.2,24.3,32.1,24.1z"/>
                             <path class="st4" d="M28.8,27.7H27v-0.6h1.8c0.8,0,1.5-0.7,1.5-1.5v-0.3H31v0.3C31,26.8,30,27.7,28.8,27.7z"/>
                             <path class="st4" d="M30,31.4c-1.5,0-2.7-1.2-2.7-2.7v-1.2h0.6v1.2c0,1.2,1,2.1,2.1,2.1s2.1-1,2.1-2.1v-1.2h0.6v1.2
                               C32.8,30.1,31.5,31.4,30,31.4z"/>
                             <path class="st4" d="M33.1,27.7h-1.5c-0.7,0-1.2-0.5-1.2-1.2v-1.2H31v1.2c0,0.3,0.3,0.6,0.6,0.6h1.5V27.7z"/>
                             <path class="st4" d="M27.6,29.5h-0.3c-0.7,0-1.2-0.5-1.2-1.2s0.5-1.2,1.2-1.2h0.3v0.6h-0.3c-0.3,0-0.6,0.3-0.6,0.6s0.3,0.6,0.6,0.6
                               h0.3V29.5z"/>
                             <path class="st4" d="M32.8,29.5h-0.3v-0.6h0.3c0.3,0,0.6-0.3,0.6-0.6s-0.3-0.6-0.6-0.6h-0.3v-0.6h0.3c0.7,0,1.2,0.5,1.2,1.2
                               C34,29,33.4,29.5,32.8,29.5z"/>
                             <path class="st4" d="M33.4,27.4h-0.6v-1.5c0-1-0.8-1.8-1.8-1.8h-1.8c-1,0-1.8,0.8-1.8,1.8v1.5h-0.6v-1.5c0-1.3,1.1-2.4,2.4-2.4H31
                               c1.3,0,2.4,1.1,2.4,2.4V27.4z"/>
                             <path class="st4" d="M34.6,35.6h-9.1c-0.2,0-0.3-0.1-0.3-0.3v-1.2c0-1.8,1.5-3.3,3.3-3.3h3c1.8,0,3.3,1.5,3.3,3.3v1.2
                               C34.9,35.5,34.8,35.6,34.6,35.6z M25.8,35h8.5v-0.9c0-1.5-1.2-2.7-2.7-2.7h-3c-1.5,0-2.7,1.2-2.7,2.7V35z"/>
                             <path class="st4" d="M30,32.9c-0.1,0-0.2,0-0.2-0.1l-1.2-1.5l0.5-0.4l1,1.2l1-1.2l0.5,0.4l-1.2,1.5C30.2,32.8,30.1,32.9,30,32.9z"/>
                             <path class="st4" d="M28.5,34.4C28.5,34.4,28.5,34.4,28.5,34.4c-0.2,0-0.3-0.1-0.3-0.2l-0.6-3l0.6-0.1l0.5,2.5l1.1-1.1l0.4,0.4
                               l-1.5,1.5C28.7,34.4,28.6,34.4,28.5,34.4z"/>
                             <path class="st4" d="M31.6,34.4c-0.1,0-0.2,0-0.2-0.1l-1.5-1.5l0.4-0.4l1.1,1.1l0.5-2.5l0.6,0.1l-0.6,3
                               C31.8,34.3,31.8,34.3,31.6,34.4C31.6,34.4,31.6,34.4,31.6,34.4L31.6,34.4z"/>
                             </svg>
                            </div>
                            <div class="padding">
                              <div class="m-b-2" style=" text-align: center;color: #535353">
                                <b>REFEERAL</b>
                              </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <span class="border-right"></span>
                    <div class="col-md">
                        <div class="countt">
                            <h3 class="m-b-5  font-strong " style="text-align: center;color:#559DE5">
                                {{employeeCards.totalCount}}
                            </h3>
                        </div>
                        <div class="paddingg">
                            <div class="m-b-2" style=" text-align: center;color: #535353"><b>TOTAL COUNT</b>
                            </div>
                        </div>
                    </div>
                    <span class="border-right"></span>
                    <div class="col-md">
                        <div class="countt">
                            <h3 class="m-b-5  font-strong " style="text-align: center;color:#FDAC42">
                                {{employeeCards.activeCount}}
                            </h3>
                        </div>
                        <div class="paddingg">
                            <div class="m-b-2" style=" text-align: center;color: #535353"><b>ACTIVE</b></div>
                        </div>
                    </div>
                    <span class="border-right"></span>

                    <div class="col-md">
                        <div class="countt">
                            <h3 class="m-b-5  font-strong " style="text-align: center; color:#E94E1B">
                                {{employeeCards.inActiveCount}}
                            </h3>
                        </div>
                        <div class="paddingg">
                            <div class="m-b-2 font-strong" style=" text-align: center;color: #535353">
                                <b>INACTIVE</b></div>
                        </div>
                    </div>
                    <span class="border-right"></span>

                    <div class="col-md">
                      <div class="countt">
                          <h3 class="m-b-5  font-strong " style="text-align: center;color:#0593A1">
                              {{employeeCards.referredCount}}
                          </h3>
                      </div>
                      <div class="paddingg">
                          <div style=" text-align: center;color: #535353"><b>REFFERED</b></div>
                      </div>
                  </div>

                </div>
            </div>
                <!-- <div class="container">
                    <div class="row">
                        <div class="col-md border-right" style="cursor: pointer;" *ngFor="let item of employeeCards" >
                            <div class="count">
                                <h3 class="m-b-5  font-strong " style="text-align: center;" [ngStyle]='item.color'>
                                    20
                                </h3>
                            </div>
                            <div class="padding">
                                <div class="m-b-2" style=" text-align: center;color: #535353"><b>{{item.value}}</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="ibox">
            <div class="col-md-12">
                <h5 style="padding: 10px 0;">{{headerValue}}</h5>
            </div>
            <div class="col-md-12">
                <ag-grid-angular style="width: 100%; height: 500px; margin-top:10px" [rowData]="employeesData"
                 [pagination]="true" class="ag-theme-balham" paginationPageSize="15"  (cellClicked)="getData($event)"
                 [columnDefs]="columnDefs" enableFilter enableSorting (gridReady)="onGridReady($event)" rowSelection="single"
                    [suppressPaginationPanel]="true" [suppressScrollOnNewData]="true" >
                </ag-grid-angular>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="inviteEmp" #dismissModal>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Invite Employee</h4>
                <button type="button" class="close" data-dismiss="modal" (click)="clearValidations()">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form [formGroup]="inviteEmployeeForm">
                    <div class="form-group row">
                        <div class="offset-2 col-md-2" style="margin-top: 5px;">
                            <label for="usr">Email Id:</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Email Id" formControlName="emailId">
                            <div *ngIf="inviteEmployeeForm.controls['emailId'].hasError('pattern')" class="failed-validation">
                                Valid Email Id Is Required
                            </div>
                            <div *ngIf=" inviteEmployeeForm.controls['emailId'].hasError('required') && inviteEmployeeForm.controls['emailId'].touched " class="failed-validation">
                                Email Id is Required
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" [disabled]="!inviteEmployeeForm.valid" (click)="sendInvitation()">Submit</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="clearValidations()">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal HTML -->
<div id="deletModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
      <div class="modal-content">
          <div class="modal-header" style="background-color: white !important;">
              <div class="icon-box">
                  <i *ngIf="statusUser==='Active'" class="fas fa-user-times remove" ></i>

                  <i *ngIf="statusUser!=='Active'" class="fas fa-user-check add"></i>

              </div> <br>
          </div>
          <h4 class="modal-title">Are you sure? {{statusUser}}</h4>
          <div class="modal-body">
              <p *ngIf="statusUser==='Active'">Do you really want to delete <b style="color:#f15e5e">{{userName}}</b> records?
              </p>
              <p *ngIf="statusUser!=='Active'">Do you really want to Active <b style="color:#29b765">{{userName}}</b> records?
              </p>

          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
              <button *ngIf="statusUser==='Active'" type="button" class="btn btn-danger" (click)="removeUser()" data-dismiss="modal">Deactivate</button>
              <button *ngIf="statusUser!=='Active'" type="button" class="btn btn-success" (click)="removeUser()" data-dismiss="modal">Activate</button>
          </div>
      </div>
  </div>
</div>
