/* ::ng-deep  .ag-header-cell-label {
    background-color: #e0e0e0;
} */


/* ::ng-deep .ctHeader .ag-header-cell-text {
    padding-left: 28px;
} */

.addIcon {
    color: #ff7000;
    cursor: pointer;
}

.addIcon:hover {
    color: #276EB5;
}

#inputValidation {
    /* margin-top: -14px;
    margin-bottom: -21px; */
    border-radius: 15px !important;
}


/* .has-search .form-control {
    padding-left: 2.375rem;
} */

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.jobsearch {
    display: flex;
    list-style: none;
    /* margin-top: 15px; */
    float: right;
}

.jobsearch li {
    padding-right: 10px;
}