<div class="card-header">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox-head">
                <div class="ibox-title">
                    <h4>Employee Details</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-6 text-right">
            <div class="ibox-head">
                <div class="ibox-title">
                    <h4 style="color: #015d9b;"><i class="fas fa-arrow-circle-left"></i></h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="ibox">
            <div style="padding: 30px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="flex-container">
                                <div class="box">
                                    <img src="./../../assets/img/logo.jpg" style="width: 70px; height: 70px; border-radius: 50%;border: 1px solid #055f9d;">
                                </div>
                                <div class="box">
                                    <h4>Jon Deo</h4>
                                    <label>Jon Deo</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="flex-container">
                                <div class="box">
                                    <h4>IT</h4>
                                    <label>Department</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="flex-container">
                                <div class="box">
                                    <h4>EMP 1000</h4>
                                    <label>Employee  Id</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="ibox">
            <div style="padding: 30px;">
                <div class="container">
                    <div class="row">
                        <!-- <div class="col-md-12"> -->
                        <div class="col-md-6">
                            <div class="ibox-head">
                                <div class="ibox-title">
                                    <h4 style="color: #015d9b;">Refferels</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 text-right" style="margin-left: -25px;border-bottom: 1px solid #eee;">
                            <button type="button" class="btn btn-outline-primary">Save</button>
                        </div>
                    </div>

                    <div class="row" style="border-bottom: 1px solid #eee;">
                        <div class="col-md-2" style="margin: 15px 0 0 15px">
                            <div class="box">
                                <h4>#1234</h4>
                                <label>Java Developer</label>
                            </div>
                        </div>
                        <div class="col-md-3" style="margin: 15px 0 0 15px">
                            <div class="box">
                                <h4>Juniour</h4>
                                <label>Position</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <table class="table table-borderless">
                                <tr>
                                    <th>Candidate Name</th>
                                    <th>Resume</th>
                                    <th>Status</th>
                                    <th>Approved Payment</th>
                                    <th>Payment Status</th>
                                </tr>
                                <tr>
                                    <td>test</td>
                                    <td>test</td>
                                    <td>test</td>
                                    <td>test</td>
                                    <td>test</td>
                                </tr>
                                <tr>
                                    <td>test</td>
                                    <td>test</td>
                                    <td>test</td>
                                    <td>test</td>
                                    <td>test</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row" style="border-bottom: 1px solid #eee;">
                        <div class="col-md-2" style="margin: 15px 0 0 15px">
                            <div class="box">
                                <h4>#1234</h4>
                                <label>Java Developer</label>
                            </div>
                        </div>
                        <div class="col-md-3" style="margin: 15px 0 0 15px">
                            <div class="box">
                                <h4>Juniour</h4>
                                <label>Position</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <table class="table table-borderless">
                                <tr>
                                    <th>Candidate Name</th>
                                    <th>Resume</th>
                                    <th>Status</th>
                                    <th>Approved Payment</th>
                                    <th>Payment Status</th>
                                </tr>
                                <tr>
                                    <td>test</td>
                                    <td>test</td>
                                    <td>test</td>
                                    <td>test</td>
                                    <td>test</td>
                                </tr>
                                <tr>
                                    <td>test</td>
                                    <td>test</td>
                                    <td>test</td>
                                    <td>test</td>
                                    <td>test</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>