
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <header class="header" app-header></header>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="position: absolute;top: 70px;">
      <router-outlet></router-outlet>
      <p style="background-color: whitesmoke;width: 100%;">2020 © PruTech Solutions - All rights reserved.</p>

    </div>
  </div>

</div>

<!-- <div class="content-wrapper" >



</div> -->

<!-- </body> -->
<!-- END PAGE CONTENT-->

<!-- slimScrollDiv
style="position: relative; overflow: hidden; width: auto; height: 100%;"  -->
